<!-- All Shifts, Leads and tasks booked by a user -->
<template name="bookedTable">
  <div class="container-fluid p-0 bookedTable">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3">{{__ ".time"}}</div>
      <div class="col-md-3">{{__ ".name"}}</div>
      <div class="col-md-3">{{__ ".location"}}</div>
      <div class="col-md-1"></div>
    </div>
    <div class="row">
      <div class="container-fluid">
        {{#each shift in allShifts }}
        <div class="flex-column bookedTableItem">
          {{> signupUserRowView signup=shift}}
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</template>

<template name="signupUserRowView">
  <div class="row justify-content-between align-content-center no-gutters">
    <div class="col-md-1 p-0">
      {{#if $eq signup.status "confirmed"}}<div class="text-success">{{fa "check"}}</div>{{/if}}
      {{#if $eq signup.status "pending"}}<div class="text-warning">{{fa "clock-o"}}</div>{{/if}}
    </div>
    {{#if $eq signup.type "project"}}
      {{> projectDate signup }}
    {{else}}
      {{> shiftDate duty }}
    {{/if}}
    <div class="col-md-5 d-flex p-0 align-items-start">
      <h5>{{team.name}} : {{shift.title}}</h5>
      {{team.location}}
    </div>
    <div class="col-md-2 p-0">
      <button type="button" class="btn btn-primary btn-action" data-action="bail"
        data-shiftId="{{signup.shiftId}}" data-parentId="{{signup.parentId}}">
        {{__ ".bail"}}
      </button>
    </div>
  </div>
</template>

<template name="tasksUserRowView">
  <tr>
    <td>{{team.name}} {{task.title}}</td>
    <td>
      {{fa "task"}}
      {formatDate task.dueDate}} - {{__ ".estimated_time"}} {{task.estimatedTime}}
    </td>
  </tr>
</template>

<template name="leadsUserRowView">
  <div class="row">
    <div class="col">{{unit.name}}</div>
    <div class="col">{{fa "user-circle"}} {{lead.title}}</div>
  </div>
</template>
