<!-- Update an existing given team
   args: Team
-->
<template name="teamEdit">
  {{> multiAddView main=main tabs=tabs}}
</template>

<!-- Create a new team give for a given department
   args: Department
-->
<template name="addTeam">
  {{> insertUpdateTemplate form=form data=data }}
</template>

<!--  Helper template used in teamEdit template -->
<template name="teamLeadField">
  {{#if signup.userId}}{{getUserName signup.userId}}{{else}}{{__ ".vacant"}}{{/if}}
</template>
