<!-- all Restricted shifts and tasks requests for a given team -->
<template name="teamSignupsList">
  <table class="table">
    <thead>
      <th>{{__ ".date"}}</th>
      <th>{{__ ".duty"}}</th>
      <th>{{__ ".created"}}</th>
      <th>{{__ ".user"}}</th>
      <th></th>
    </thead>
    <tbody>
      {{#each signup in allSignups}}
        <tr>
          <td>
            {{#if $eq signup.type "shift"}}
              {{fa "calendar"}}
              {{> shiftDate signup.duty}}
            {{/if}}
            {{#if $eq signup.type "task"}}
              {{fa "tasks"}}
              {{> taskDate signup.duty}}
            {{/if}}
            {{#if $eq signup.type "project"}}
              {{fa "calendar-o"}}
              {{> projectDate signup}}
            {{/if}}
          </td>
          <td>
            {{ signup.duty.title }}
          </td>
          <td>{{formatDate signup.createdAt}}</td>
          <td>{{getUserName signup.userId}}</td>
          <td>
            <button class="btn btn-default btn-sm" data-action="approve"
              data-signup="{{ signup._id }}" data-type="{{ signup.type }}">
                {{__ '.approve' }}
            </button>
            <button class="btn btn-default btn-sm" data-action="refuse"
              data-signup="{{ signup._id }}" data-type="{{ signup.type }}">
                {{__ '.refuse' }}
            </button>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>

<!-- all Lead team requests for a given department -->
<template name="departmentSignupsList">
  <table class="table">
    <thead>
      <th></th>
      <th>{{__ ".title"}}</th>
      <th>{{__ ".user"}}</th>
      <th></th>
    </thead>
    <tbody>
      {{#each signup in allSignups}}
        <tr>
          <td>
              {{fa "user-circle"}}
              {{#if signup.userId}}{{getUserName signupuserId}}{{else}}{{__ ".vacant"}}{{/if}}
          </td>
          <td>{{signup.duty.title}} <small>{{signup.unit.name}}</small></td>
          <td>{{getUserName signup.userId}}</td>
          <td>
            <button class="btn btn-default btn-sm" data-action="approve"
              data-signup="{{ signup._id }}">
                {{__ '.approve' }}
            </button>
            <button class="btn btn-default btn-sm" data-action="refuse"
              data-signup="{{ signup._id }}">
                {{__ '.refuse' }}
            </button>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>

<!-- TODO : department Lead requests for a division -->

<!-- all division and departments Lead request for the manager -->
<template name="managerSignupsList">
  <table class="table">
    <thead>
      <th></th>
      <th>{{__ ".title"}}</th>
      <th>{{__ ".user"}}</th>
      <th></th>
    </thead>
    <tbody>
      {{#each signup in allSignups}}
        <tr>
          <td>
              {{fa "user-circle"}}
              {{#if signup.userId}}{{getUserName signupuserId}}{{else}}{{__ ".vacant"}}{{/if}}
          </td>
          <td>{{signup.duty.title}} <small>{{signup.unit.name}}</small></td>
          <td>{{getUserName signup.userId}}</td>
          <td>
            <button class="btn btn-default btn-sm" data-action="approve"
              data-signup="{{ signup._id }}">
                {{__ '.approve' }}
            </button>
            <button class="btn btn-default btn-sm" data-action="refuse"
              data-signup="{{ signup._id }}">
                {{__ '.refuse' }}
            </button>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>
