<!-- used to display all shifts for a given team
     Args: team
-->
<template name="teamShiftsTable">
  {{#if grouping}}
  <div class="btn-group pull-right">
    <button type="button" class="btn btn-default" data-action="groupDone"
      aria-haspopup="true" aria-expanded="false">
      {{fa "check"}} {{__ ".done"}}
    </button>
  </div>
  {{/if}}
  <table class="table">
    <thead>
      <th></th>
      <th>{{__ ".time"}}</th>
      <!-- <th>{{__ ".name"}}</th> -->
      <th>{{__ ".positions"}}</th>
      <th></th>
    </thead>
    {{#each family in groupedShifts}}
      <tr class="shiftFamily" data-toggle="collapse" data-target=".{{family.class}}">
        <td colspan="4"><h5>{{family.title}}</h5></td>
      </tr>
      {{#each group in family.groups}}
        {{#each shift in group.shifts }}
          <tr class="shift {{family.class}} collapse" data-id="{{shift._id}}" data-type="{{shift.type}}">
            <td>
              {{#if $eq shift.priority "essential"}}
                <div class="text-danger">{{fa "exclamation-circle"}}</div>
              {{/if}}
            </td>
            <td>
              {{#if $eq shift.type "shift"}}
                {{> shiftDateInline shift}}
              {{else}}
                {{> projectDate shift}}
              {{/if}}
            </td>
            <!-- <td>
              {{shift.title}}
              {{#if ($eq shift.policy 'public')}}{{fa 'globe'}}{{/if}}
              {{#if ($eq shift.policy 'private')}}{{fa 'user-secret'}}{{/if}}
              {{#if ($eq shift.policy 'requireApproval')}}{{fa 'lock'}}{{/if}}
            </td> -->
            {{#if $eq shift.type "shift"}}
              <td class="pull-right">
                <span class="badge badge-pill badge-primary">{{shift.needed}} / {{shift.confirmed}}</span>
              </td>
            {{else}}
              <td>
                <!-- TODO -->
              </td>
            {{/if}}
            <td>
              <div class="btn-group pull-right">
                <button type="button"
                  class="btn btn-sm btn-circle dropdown-toggle {{#if grouping}}disabled{{/if}}"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li class="dropdown-item"><a href="#" data-action="edit" data-id="{{shift._id}}" data-type="{{shift.type}}">
                    {{fa "pencil-square-o"}} {{__ ".edit"}}</a></li>
                  <li class="dropdown-item"><a href="#" data-action="delete" data-id="{{shift._id}}" data-type="{{shift.type}}">
                    {{fa "trash-o"}} {{__ ".remove"}}</a></li>
                  <li class="dropdown-item"><a href="#" data-action="clone" data-id="{{shift._id}}" data-type="{{shift.type}}">
                    {{fa "clone"}} {{__ ".clone"}}</a></li>
                  <li class="dropdown-item"><a href="#" data-action="group" data-id="{{shift._id}}" data-type="{{shift.type}}">
                    {{fa "object-group"}} {{__ ".group"}}</a></li>
                  {{#if shift.groupId }}
                    <li class="dropdown-item"><a href="#" data-action="removeFromGroup" data-id="{{shift._id}}" data-type="{{shift.type}}">
                      {{fa "object-ungroup"}} {{__ ".remove_from_group"}}</a></li>
                  {{/if}}
                </ul>
              </div>
            </td>
          </tr>
        {{/each}}
        {{#if $gt ($len group.shifts) 1}}<tr><td colspan="5"></td></tr>{{/if}}
      {{/each}}
    {{/each}}
  </table>
</template>

<!-- used to display all tasks for a given team
     Args: team
-->
<template name="teamTasksTable">
  <table class="table">
    <thead>
      <th></th>
      <th>{{__ ".duedate"}}</th>
      <th>{{__ ".name"}}</th>
      <th>{{__ ".positions"}}</th>
      <th></th>
    </thead>
    {{#each shift in allTasks }}
      <tr class="shift" data-id="{{shift._id}}">
        <td>
          {{#if $eq shift.priority "essential"}}
            <div class="text-danger">{{fa "exclamation-circle"}}</div>
          {{/if}}
        </td>
        <td>{{> taskDate shift}}</td>
        <td>{{shift.title}}
          {{#if ($eq shift.policy 'public')}}{{fa 'globe'}}{{/if}}
          {{#if ($eq shift.policy 'private')}}{{fa 'user-secret'}}{{/if}}
          {{#if ($eq shift.policy 'requireApproval')}}{{fa 'lock'}}{{/if}}
        </td>
        <td class="pull-rigth">
          <span class="badge badge-pill badge-primary">{{shift.needed}} / {{shift.confirmed}}</span>
        </td>
        <td>
          <div class="btn-group pull-right">
            <button type="button"
              class="btn btn-default btn-circle dropdown-toggle {{#if grouping}}disabled{{/if}}"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li class="dropdown-item"><a href="#" data-action="edit" data-id="{{shift._id}}">
                {{fa "pencil-square-o"}} {{__ ".edit"}}</a></li>
              <li class="dropdown-item"><a href="#" data-action="delete" data-id="{{shift._id}}">
                {{fa "trash-o"}} {{__ ".remove"}}</a></li>
              <li class="dropdown-item"><a href="#" data-action="clone" data-id="{{shift._id}}">
                {{fa "clone"}} {{__ ".clone"}}</a></li>
            </ul>
          </div>
        </td>
      </tr>
    {{/each}}
  </table>
</template>

<!--  Obsoletes -->

<template name="teamShiftsView">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <h4>{{date}}</h4>
    </div>
    <div class="panel-body">
      {{> teamShiftsTable _id=_id}}
    </div>
  </div>
</template>

<template name="teamTasksView">
  <div class="panel
    {{#if $gt timeleft 4}}panel-warning{{else}}
      {{#if $lte timeleft 0}}panel-danger{{else}}
        panel-default
      {{/if}}
    {{/if}}">
    <div class="panel-heading clearfix">
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-default btn-circle dropdown-toggle"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li class="dropdown-item"><a href="#" data-action="toggle" data-id="{{_id}}">
            {{fa "check"}}
            {{#if $eq status "done"}}{{__ ".mark_pending"}}{{/if}}
            {{#if $eq status "pending"}}{{__ ".mark_done"}}{{/if}}
          </a></li>
          <li class="dropdown-item"><a href="#" data-action="edit" data-id="{{_id}}">
            {{fa "pencil-square-o"}} {{__ ".edit"}}</a></li>
          <li class="dropdown-item"><a href="#" data-action="delete" data-id="{{_id}}">
            {{fa "trash-o"}} {{__ ".remove"}}</a></li>
          <li class="dropdown-item"><a href="#" data-action="archive" data-id="{{_id}}">
            {{fa "archive"}} {{__ ".archive"}}</a></li>
        </ul>
      </div>
      {{#if $eq status "done"}}{{fa "check"}}{{/if}}
      {{#if $eq status "archived"}}{{fa "archive"}}{{/if}}
      {{#if $eq status "overdue"}}{{fa "danger"}}{{/if}}

      {{#if ($eq policy 'public')}}{{fa 'globe'}}{{/if}}
      {{#if ($eq policy 'private')}}{{fa 'user-secret'}}{{/if}}
      {{#if ($eq policy 'requireApproval')}}{{fa 'lock'}}{{/if}}

      <h4>{{title}}</h4>
    </div>
    <div class="panel-body">
      {{__ ".due_date"}}: {{formatDate dueDate}}
      <div class="badge badge-pill badge-primary pull-right">{{vacant}} / {{confirmed}}</div>
    </div>
  </div>
</template>

<template name="teamDayViewGrid">
  <div class="panel">
    <div class="panel-heading clearfix">
      <div class="btn-group pull-right">
        <a href="{{pathFor teamSignupsList _id=_id}}" class="btn btn-default btn-sm" >
          {{__ ".signups" }}
        </a>
        <button type="button" class="btn btn-info btn-sm dropdown-toggle"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-wrench fa-fw"></i>
        </button>
        <ul class="dropdown-menu">
          <li class="dropdown-item"><a href="#" data-action="edit" data-id="{{teamId}}">
            {{fa "pencil-square-o"}} {{__ ".edit"}}</a></li>
          <li class="dropdown-item"><a href="#" data-action="delete" data-id="{{teamId}}">
            {{fa "trash-o"}} {{__ ".remove"}}</a></li>
        </ul>
      </div>
      <h4>{{__ "team"}} : {{name}}</h4>
    </div>
  </div>
  {{__ "team_leads"}} :
  <ul class="inline">
    {{#each lead in allLeads}}
      <li>{{getUserName lead.userId}} ({{lead.title}})</li>
    {{/each}}
  </ul>
  <div class="row">
    <div class="col-md-6">
      <table class="table">
        <tr>
          <td><h3>{{__ ".shifts"}}</h3></td>
          <td align="right">
            <button type="button" class="btn btn-default btn-sm" data-action="addShift">
              {{fa "plus"}} {{__ ".add_new_shift"}}
            </button>
          </td>
        </tr>
      </table>
      {{#each date in allDates}}
          {{> teamShiftsView _id=_id date=date}}
      {{/each}}
    </div>
    <div class="col-md-6">
      <table class="table">
        <tr>
          <td><h3>{{__ ".tasks"}}</h3></td>
          <td align="right">
            <button type="button" class="btn btn-default btn-sm" data-action="addTask">
              {{fa "plus"}} {{__ ".add_new_task"}}
            </button>
          </td>
        </tr>
      </table>
      <div class="form-inline">
        {{#each s in taskStatus}}
        <!--  XXX this translation might be a problem ... no namespace XXX -->
          <label class="control-label">{{__ s.status}}</label>
          <input type="checkbox" id="taskStatus" value="{{s.status}}"
            class="form-control" {{s.isChecked}}>
        {{/each}}
      </div>
      {{#each task in allTasks}}
        {{> teamTasksView task}}
      {{/each}}
    </div>
  </div>
</template>
