
<template name='daysPicker'>
  <label class="control-label">{{__ ".days"}}</label>
  <input type="text" id="days" class="form-control">
</template>

<template name='rangePicker'>
  <label class="control-label">{{__ ".date_range"}}</label>
  <input type="text" id="range" class="form-control">
</template>

<template name="periodPicker">
  <label class="control-label" for="period">{{__ ".period"}}</label>
  <select id="period" class="form-control"></select>
</template>

<template name="tagsPicker">
  <label class="control-label" for="tags">{{__ ".tags"}}</label>
  <select id="tags" class="form-control"></select>
</template>

<template name="dutiesPicker">
  <label class="control-label" for="duties">{{__ ".duties"}}</label>
  <select id="duties" class="form-control"></select>
</template>

<template name="teamsPicker">
  <label class="control-label" for="teams">{{__ ".teams"}}</label>
  <select id="teams" class="form-control"></select>
</template>

<template name="departmentsPicker">
  <label class="control-label" for="departments">{{__ ".department"}}</label>
  <select id="departments" class="form-control"></select>
</template>

<template name="moreFilters">
  <label class="control-label" for="more">{{__ ".more_filters"}}</label>
  <input type="text" id="more" class="form-control">
</template>
