<!-- main template to display list-items of duties for a user : shift, tasks, lead -->
<template name="dutiesListItem">
  <div class="row justify-content-between align-content-center no-gutters">
    {{#if $eq signup.type "project"}}
      {{> projectDate duty }}
    {{else}}
      {{> shiftDate duty }}
    {{/if}}
    <div class="col-md-6">
      {{#if $eq duty.type "shift"}}
        {{> shiftTitle duty=duty team=team}}
      {{/if}}
      {{#if $eq duty.type "task"}}
        {{>taskTitle duty=duty team=team}}
      {{/if}}
      {{#if $eq duty.type "project"}}
        {{>projectTitle duty=duty team=team}}
      {{/if}}
      {{#if $eq duty.type "lead"}}
        {{>leadTitle duty=duty team=team}}
      {{/if}}
    </div>
    <div class="col-md-2 p-0">
      {{#if $and signup.status ($neq signup.status 'bailed')}}
        <button class="btn btn-default btn-action disabled
          {{#if $eq signup.status 'confirmed'}}btn-success{{/if}}">
          {{__ signup.status }}
        </button>
      {{else}}
        <!-- {{#if $eq signup.status 'bailed'}}
          <button class="btn btn-default disabled">
            {{__ signup.status }}
          </button>
        {{/if}} -->
        {{#unless $eq duty.policy "adminOnly"}}
          <button class="btn btn-primary btn-action" data-shiftid="{{duty._id}}"
            data-parentid="{{duty.parentId}}" data-type="{{duty.type}}" data-action="apply">
            {{#if $eq duty.type "project"}}
              {{__ ".choose_date"}}
            {{else}}
              {{#if $eq duty.policy "public"}}{{__ ".join"}}{{/if}}
              {{#if $eq duty.policy "requireApproval"}}{{__ ".apply"}}{{/if}}
            {{/if}}
          </button>
        {{else}}
          {{__ ".admin_only"}}
        {{/unless}}
      {{/if}}
      {{#if canBail}}
        <button class="btn btn-danger btn-action" data-shiftid="{{duty._id}}"
          data-parentid="{{duty.parentId}}}" data-type="{{duty.type}}" data-action="bail">
          {{__ "bail"}}
        </button>
      {{/if}}
    </div>
  </div>
  <div class="container">
      {{#if $eq duty.type "shift"}}
        {{>shiftBody duty=duty team=team}}
      {{/if}}
      {{#if $eq duty.type "task"}}
        {{>taskBody duty=duty team=team}}
      {{/if}}
      {{#if $eq duty.type "lead"}}
        {{>leadBody duty=duty team=team}}
      {{/if}}
    </div>
    <div class="row no-gutters">
    {{#if team.quirks}}
      <ul class="list-inline">
        {{#each quirk in team.quirks}}
          <li class="list-inline-item">
            <span class="badge badge-primary badge-pill">{{quirk}}</span>
          </li>
        {{/each}}
      </ul>
    {{/if}}
    {{#if team.skills}}
      <ul class="list-inline">
        {{#each skill in team.skills}}
          <li class="list-inline-item">
            <span class="badge badge-secondary badge-pill">{{skill}}</span>
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
</template>

<!-- Create a new shift give for a given team
   args: Team
-->
<template name="addShift">
  {{> insertUpdateTemplate form=form data=data }}
</template>

<!-- Create a new task give for a given team
   args: Team
-->
<template name="addTask">
  {{> insertUpdateTemplate form=form data=data }}
</template>

<template name="addProject">
  {{> insertUpdateTemplate form=form data=data }}
</template>

<Template name="projectStaffingInput">
  {{! Wrapper div with this.atts needed to wire it into autoform}}
  <div {{this.atts}}>
    {{#if datesSet}}
      <div class="row">
        <div class="col-md-4 offset-md-4">
          {{__ ".min_people"}}
        </div>
        <div class="col-md-4">
          {{__ ".max_people"}}
        </div>
      </div>
      {{#each staffingValue in staffingArray}}
        <div class="row" data-index="{{@index}}">
          <div class="col-md-4">
            {{day @index}}
          </div>
          <div class="col-md-4">
            <input data-field="min" type="number" name="{{this.atts.name}}.{{@index}}.min" value="{{staffingValue.[min]}}" class="form-control" />
          </div>
          <div class="col-md-4">
            <input data-field="max" type="number" name="{{this.atts.name}}.{{@index}}.max" value="{{staffingValue.[max]}}" class="form-control" />
          </div>
        </div>
      {{/each}}
    {{/if}}
  </div>
</Template>

<template name="shiftsTasksTableRowView">
  <div>
    <a href="{{pathFor teamViewEventName _id=teamId}}">{{teamName}}</a>:
    {{title}}
    {{#if $and ($eq type "lead") ($eq status "pending")}} {{fa "exclamation-triangle"}}{{/if}}
  </div>
  <div>
    {{#if $eq type "shift"}}{{fa "calendar"}}
    {{else $eq type "task"}}{{fa "tasks"}}
    {{else $eq type "lead"}}{{fa "user-circle"}}
    {{/if}}
    {{#if $eq type "task"}}
      {{> taskDate shift}}
    {{else $eq type "shift"}}
      {{> shiftDate shift}}
    {{/if}}
  </div>
</template>

<!-- helper display to format the date of a shift. used in dutiesListItem and ... -->
<template name="shiftDate">
  {{#if sameDay start end}}
    <div class="col-md-2"><h5>{{formatDate start}}</h5></div>
    <div class="col-md-2"><h6>{{formatTime start}} <br> {{formatTime end}}</h6></div>
  {{else}}
    <div class="col-md-2 align-content-center"><h5>{{formatDateTime start}}</h5></div>
    <div class="col-md-2 align-content-center"><h6>{{formatTime end}} {{differenceTime start end}}</h6></div>
  {{/if}}
</template>

<template name="shiftDateInline">
  {{#if sameDay start end}}
    <h6>{{formatDateTime start}} - {{formatTime end}}</h6>
  {{else}}
    <h6>{{formatDateTime start}} - {{formatTime end}} {{differenceTime start end}}</h6>
  {{/if}}
</template>

<template name="projectDate">
  {{#each date in dates}}
    <div class="col-md-2 align-content-center">
      <h6 class="mb-0">{{formatMoment date 'ddd Do' }}</h6>
      <h6>{{formatMoment date 'MMM' }}</h6>
    </div>
  {{/each}}
</template>

<!-- helper display to format the date of a task. used in dutiesListItem and ... -->
<template name="taskDate">
  <!-- <div class="row">{{> taskDate duty}}</div> -->
  <div class="row">{{__ ".estimated_time"}} {{estimatedTime}}</div>
</template>

<template name="shiftTitle">
  <h5 class="mb-1 mr-auto"><small>{{fa "calendar"}} </small>{{team.name}}: {{duty.title}}</h5>
</template>

<template name="taskTitle">
  <h5 class="mb-1 mr-auto"><small>{{fa "tasks"}} </small>{{team.name}}: {{duty.title}}</h5>
</template>

<template name="projectTitle">
  <h5 class="mb-1 mr-auto"><small>{{fa "calendar-o"}} </small>{{team.name}}: {{duty.title}}</h5>
</template>

<template name="leadTitle">
  <h5 class="mb-1 mr-auto"><small>{{fa "user-circle"}}</small> {{team.type}} {{__ ".lead"}}: {{team.name}}</h5>
</template>

<template name="leadBody">
  <div class="row no-gutters">
    <p class="card-text">{{duty.description}}</p>
  </div>
  <div class="row no-gutters">
    <h5 class="mb-2 text-muted">{{__ ".responsabilities"}}</h5>
    <p class="card-text"> {{duty.responsabilities}}</p>
  </div>
  <div class="row no-gutters">
    <h5 class="mb-2 text-muted">{{__ ".qualificatons"}}</h5>
    <p class="card-text">{{duty.qualificatons}}</p>
  </div>
</template>

<template name="shiftBody">
  <p class="card-text">{{duty.description}}</p>
</template>

<template name="taskBody">
  <p class="card-text">{{duty.description}}</p>
</template>

<template name="projectSignupForm">
  <p>{{__ ".project_signup_form"}}</p>
  {{> insertUpdateTemplate form=form data=signup }}
</template>
