<!--  main shifts signup -->
<template name="signupsList">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="container-fluid p-0">
        {{#each duty in allDuties}}
          <div class="flex-column signupsListItem">
            {{> dutiesListItem duty }}
          </div>
        {{/each}}
      </div>
    </div>
    {{#if loadMore}}
      <div class="row">
        <div class="text-center">
          <button class="btn btn-primary" data-action="loadMore">{{__ ".load_more"}}</button>
        </div>
      </div>
    {{/if}}
  </div>
</template>
